body{
    display: flex;
    flex-direction: column;
    }

main{
display: flex;
flex-direction: row;
flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex:1;
    overflow-y: auto;

}
table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid gray;
    padding: 9px;
}
th{
    background-color: aqua;
    color: black;
    font-weight: bold;
    text-align: center;
}